---
layout: default
date: 2014-10-19 23:51
---

{% if site.show_blog_header %}
  {% include blog_header.html %}
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      {% for post in site.posts %}
        <div class="blog-short">
          <h3><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
          <h5>{{post.venue}}</h5>
  		<div>
           </div>
          {% if post.thumbnail %}
            <div class="imgcontainer col-xs-12 col-sm-5 col-md-5 col-lg-5">
              <img src="{{post.thumbnail}}"
              alt="{{post.title}}"  class="pull-left img-responsive thumb img-thumbnail" />
            </div>
          {% endif %}
          <article class="excerpt">{{post.excerpt}}</article>
          <a class="pull-right marginBottom10" href="{{post.url | prepend: site.baseurl }}">Read More</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
