

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="row">
              <div class="col-xs-12 text-center">
                <small>&copy; Interpretable Low-Level Vision, 2020</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <small>
                <!-- Default Statcounter code for Interpretable Low-Level
                Vision https://x-lowlevel-vision.github.io/ -->
                <script type="text/javascript">
                  var sc_project=12430833; 
                  var sc_invisible=0; 
                  var sc_security="987a3768"; 
                  var sc_text=2; 
                  var sc_https=1; 
                  var scJsHost = "https://";
                  document.write("<sc"+"ript type='text/javascript' src='" +
                  scJsHost+
                  "statcounter.com/counter/counter.js'></"+"script>");
                  </script>
                  <noscript><div class="statcounter"><a title="Web Analytics
                  Made Easy - StatCounter" href="https://statcounter.com/"
                  target="_blank"><img class="statcounter"
                  src="https://c.statcounter.com/12430833/0/987a3768/0/"
                  alt="Web Analytics Made Easy -
                  StatCounter"></a></div></noscript>
                  <!-- End of Statcounter Code -->
                  unique visitors since Nov. 2020.</small>
              </div>
            </div>
        </div>
      </div>
    </div>
  </footer>
